<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cupcakes!</title>
  <script src="http://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
</head>
<body>
  <form action="" id="cupcakes-form">
    <label for="">Flavor
      <input type="text" name="flavor" id="flavor">
    </label>
    <label for="">Size
      <input type="text" name="size" id="size">
    </label>
    <label for="">Rating
      <input type="text" name="rating" id="rating">
    </label>
    <label for="">Image URL
      <input type="text" name="image" id="image">
    </label>
    <button>Submit!</button>
  </form>
  <ul id="cupcake-list"></ul>
  <script src="../static/main.js"></script>
</body>
</html>